body {
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    color: gold;
}

h1 {
    text-align: center;
    letter-spacing: 1.2rem;
    font-style: italic;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    padding-top: 25px;
}

h1, h2, h3 {
    text-shadow: 1.8px 1.5px whitesmoke;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 30px 30px;
    padding-top: 20px
}

.first {
    padding-top: 3.5em;
}

.guts{
    text-align: right;
    font-weight: bold;
}

.guts, .container {
    padding-bottom: 3.0rem;
}

ul > li {
    text-align: right;
    list-style: none;
    font-weight: bold;
}

.container, p {
    text-align: left;
    font-weight: bold;
}

.foot {
    text-align: center;
}

a {
    color: goldenrod;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 3rem 0;
}

a:hover {
    background-color: #000;
    color: gold;
}