h1 {
    font-size: 3rem;
    letter-spacing: 1.75rem;
    padding-left: 130px;
    text-shadow: 3px 2.5px gold;
}

body {
    background-color: grey;
    margin: 0 auto;
}

.recipes {
    display: flex;
    justify-content: space-evenly;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

img {
    padding-top: 3.5em;
    padding-left: 80px;
}

.container{
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
}

ul > li {
    font-weight: bold;
    padding: 5px 0;
}

a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: gold;
    text-decoration: none;
    padding-bottom: 2.2em;
    letter-spacing: 1rem;
    text-shadow: 3px 2.5px black;
}

a:hover {
    text-shadow: 3px 2.5px gold;
    color: black;
}